@media screen {
    [data-site-id="#{$site-id}"] {
        .fluid-text-image {
            &__content{
                position: relative;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left top;

                .button-link{
                    @include media-breakpoint-up(md){
                        margin-bottom: 0;
                    }
                    .btn{
                        padding: 5px;
                        &[data-type="download"] {
                            padding-left: rem(35px);
                        }
                    }
                }
            }
            &__img{
                top: 0;
                left: 0;
                width: 40%;
                //display: flex;
                max-height: 100%;
                //align-items: center;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                @include media-breakpoint-down(sm){
                    display: none;
                }
            }
            .mobile-bg{
                width: 100%;
                display: none;
                margin-bottom: rem(20px);
                @include media-breakpoint-down(sm){
                    display: block;
                }
            }
        }
    }
}