@media screen {
    [data-site-id="#{$site-id}"] {
        // AEM decoration tag
        .block-quote{
            &__wrapper{
                display: flex;
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
            }
            &__img{
                width: rem(70px);
                height: rem(70px);
                margin-top: rem(15px);
                background-size: cover;
                margin-right: rem(30px);
                background-position: center;
                background-image: url('#{$root-path}images/icons/block-quote.png');
                @include media-breakpoint-down(sm) {
                    margin-top: rem(0);
                    margin-bottom: rem(30px);
                }
            }
            &__details{
                flex: 1;
                &-source {
                    margin-top: rem(30px);
                    *{
                        font-weight: 600;
                        font-size: rem(18px);
                        letter-spacing: 0.3px;
                        line-height: rem(24px);
                        color: $color-limed-spruce;
                    }
                }
            }
        }
    }
}