@media screen {
    [data-site-id="#{$site-id}"] {
        .cmp-accordion {            
            &__inner {
                .card {
                    margin-bottom: rem(20px);
                    .btn-link {
                        background-color: #F3F5F8;
                        width: 100%;
                        text-align: left;
                        font-size: rem(22px);
                        font-weight: 600;
                        color: #2F3332;
                        line-height: rem(30px);
                        border-radius: 0;
                        height: rem(100px);
                        padding: 0;
                        padding-right: rem(32px);      
                        @include media-breakpoint-down (md) {
                            height: rem(80px);    
                            font-size: rem(18px);                                                           
                            line-height: rem(24px);
                        }                  
                        &:hover, &:focus {
                            text-decoration: none;
                            box-shadow: none;
                        }
                        .card-header--icon {                            
                            width: rem(95px);
                            height: 100%;
                            float: left;
                            text-align: right;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }
                        .title {
                            padding-left: rem(39px);
                            float: left;
                            height: 100%;
                            width: calc(100% - 180px);
                            position: relative;
                            @include media-breakpoint-down (md) {
                                padding-left: rem(20px);                                                         
                            }
                            span {
                                position: absolute;
                                top: 50%;
                                transform: translate(0, -50%);
                                // white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                max-width: 90%;
                            }
                        }
                        .plus-minus-icon {
                            float: right;
                            width: rem(60px);
                            height: rem(60px);
                            margin-top: rem(20px);
                            background: #00bfb2;
                            display: flex;
                            justify-content: center;
                            align-items: center;    
                            @include media-breakpoint-down (md) {
                                width: rem(40px);
                                height: rem(40px);                                                                
                            }                        
                            .plus {
                                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJmaWxsOiAjZmZmZmZmOyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTcgMTFoLTRWN2ExIDEgMCAwMC0xLTEgMSAxIDAgMDAtMSAxdjRIN2ExIDEgMCAwMC0xIDEgMSAxIDAgMDAxIDFoNHY0YTEgMSAwIDAwMSAxIDEgMSAwIDAwMS0xdi00aDRhMSAxIDAgMDAxLTEgMSAxIDAgMDAtMS0xeiIvPjwvc3ZnPg==") no-repeat;
                                width: rem(40px);
                                height: rem(40px);
                                float: left;
                                display: block;
                                @include media-breakpoint-down (md) {
                                    width: rem(35px);
                                    height: rem(35px);                                                                
                                }
                            }
                            .minus {
                                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJmaWxsOiAjZmZmZmZmOyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cmVjdCB4PSI2IiB5PSIxMSIgd2lkdGg9IjEyIiBoZWlnaHQ9IjIiIHJ4PSIxIi8+PC9zdmc+") no-repeat;
                                width: rem(40px);
                                height: rem(40px);
                                float: left;
                                display: none;
                                @include media-breakpoint-down (md) {
                                    width: rem(35px);
                                    height: rem(35px);                                                                
                                }
                            }
                        }
                        &[aria-expanded="true"] {
                            .plus-minus-icon {
                                background-color: #09958b;
                                .minus {
                                    display: block;
                                }
                                .plus {
                                    display: none;
                                }
                            }
                        }
                    }
                    .accordion-content {
                        .card-body {
                            padding: rem(40px) rem(33px) rem(29px);
                            border: rem(10px) solid #F3F5F8;
                            border-top-width: rem(4px);
                        }                                                                        
                    }
                }                
            }
        }
    }
}