[data-site-id="#{$site-id}"] {
    .button-link {

        .skew-hover{
            overflow: hidden;
            font-size: rem(12px);
            line-height: 1.2;
            @extend .relative;
            @extend .py-4;
            @extend .px-8;
            @extend .border-2;
            @extend .border-primary;
            @extend .text-primary;
            @extend .font-semibold;
            @extend .bg-white;
            @extend .uppercase;

            span{
                transition: .45s;
            }

            &:after{
                content: "";
                @extend .absolute;
                @extend .w-0;
                @extend .bg-primary;
                transition: .45s;
                left: 50%;
                bottom: -2px;
                height: 120%;
                transform: skewX(-15deg);
                z-index: 1;
            }

            &:hover{
                text-decoration: none;
                span{
                    @extend .text-white;
                    @extend .relative;
                    z-index: 2;
                }
                &::after{
                    left: -10%;
                    width: 120%;
                }
            }
        }

        .right-tail-arrow{
            padding:  2px !important;
            margin-top: 10px;
            @extend .cursor-pointer;
            @extend .flex;
            @extend .items-center;
            text-decoration: none !important;

            .arrow-container{
                border-width: 1.2px;
                position: relative;
                width: 16px;
                transition: all 0.3s ease;

                &>.arrow,
                .arrow::after {
                    border-width: 0.6px;
                    width: 10px;
                    position: absolute;
                    right: -3px;
                    top: 3px;
                    transform: rotate(-45deg);
                    border-color: inherit;
                    @extend .cursor-pointer;
                }

                .arrow::after {
                    content: "";
                    background-color: inherit;
                    top: -6px;
                    right: -6px;
                    transform: rotate(90deg);
                }
            }
        }

        .left-tail-arrow{
            @extend .right-tail-arrow;
            transform: rotate(180deg);
            justify-content: flex-start;
        }

        &:hover{
            .arrow-container{
                width: 24px !important;
                @extend .bg-secondary;
                @extend .border-secondary;
            }
        }

        // svg {
        //     cursor: pointer;
        //     width: 22px;
        //     .tail {
        //     //   transform: translateX(5px);
        //       transition: all .5s ease;
        //     }
        //     .head {
        //       transform: translateX(-3px);
        //       transition: all .5s ease;
        //     }
        //     &:hover {
        //       .tail {
        //         transform: translateX(0);
        //         transition: all .5s ease-int-out;
        //       }
        //       .head {
        //         transform: translateX(0);
        //         transition: all .5s ease-int-out;
        //       }
        //     }
        //   }
      
    }
}