@media screen {
    [data-site-id="#{$site-id}"] {

        // AEM decoration tag
        .button-link {
            text-align   : center;
            margin-bottom: $cmp-bottom-gap;
            position     : relative;

            // button style override 
            .btn-link {

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    box-shadow: none;
                }
            }
            .bg-secondary{
                background-color: $secondary;
            }
            .bg-primary{
                background-color: $primary;
                &:hover{
                    border-color: $secondary;
                    transition: all 0.3s ease;
                    background-color: $secondary;
                }
                &:focus, &:active{
                    border-color: $secondary;
                    background-color: $secondary;
                    box-shadow: 0 0 0 0.2rem rgba($secondary, 1) !important;
                } 
            }

            // new button type
            .btn {
                font-weight: 700;
                font-size  : 18px;
                border-width: 2px;
                padding: 12px 20px;
            }
        }
    }
}