@media screen {
    [data-site-id="#{$site-id}"] {
        // AEM decoration tag
        .back-to-top{
            display: none;
            &.show{
                display: block;
            }
            &__inner{
                display: flex;
                z-index: 1009;
                cursor: pointer;
                position: fixed;
                right: rem(35px);
                bottom: rem(25px);
                width: rem(70px);
                height: rem(70px);
                align-items: center;
                justify-content: center;
                background-color: $primary;
                padding: rem(10px) rem(10px);

                @include media-breakpoint-down(sm) {
                    width: rem(60px);
                    right: rem(15px);
                    bottom: rem(15px);
                    height: rem(60px);
                }

                &:hover{
                    background-color: $secondary;
                }

                img{
                    height: rem(30px);
                    @include media-breakpoint-down(sm) {
                        height: rem(25px);
                    }
                }
            }
        }
    }
}