# Configuration created by Apache Sling JCR Installer
glpg.clinicaltrial.appName="glpg_clinicaltrial"
glpg.clinicaltrial.loginUser="glpg-clinicaltrial-login-user"
glpg.clinicaltrial.ciamBaseUrl="https://cdp-stage.glpg.com"
glpg.clinicaltrial.ciamApiEndpoint="/api"
glpg.clinicaltrial.contentPath="/content/glpg-clinical-trials"
glpg.clinicaltrial.cdpUsername="clinical-trial-portal@glpg.com"
glpg.clinicaltrial.cdpPassword="P@ssword123"