[data-site-id="#{$site-id}"] {
    .header {
        &__inner{
            .image-extension{
                a{
                   
                    // @media  screen(md) {
                    //    max-width: 93px;
                    // }
                    // @screen md {
                    //    max-width: 93px;
                    // }

                    @media screen and (max-width : 768px) {
                        max-width: 93px;
                    }
                    @media screen and (min-width : 769px) {
                        max-width: 250px;
                    }
                  
                }
            }

            .animate-icon{
                span{
                    &:first-child{
                        transform: rotate(-45deg);
                        // top: 50%;
                        top:3px;
                    }

                    &:nth-child(2){
                        @extend .hidden;
                    }

                    &:last-child{
                        transform: rotate(45deg);
                        // top: 50%;
                        top:3px;
                    }
                }
            }

            .navbar-collapse{
               
                @media screen and (max-width:768px) {
                    height: calc(100vh - 128px);
                    top: 128px;
                }
                 @media screen and (max-width:576px) {
                    height: calc(100vh - 88px);
                    top: 88px;
                }
            }
        }
    }
}