@media screen {
    [data-site-id="#{$site-id}"] {
        .header {
            $this   : header !default;
            position: relative;
            z-index : 1025;

            .#{$this}__wrapper {

                @media(min-width:1024px) {
                    padding: rem(35px) rem(0px);
                }

                @media(max-width:1023px) {
                    position  : relative;
                    padding   : rem(30px) rem(15px);
                }

                @include media-breakpoint-down(sm) {
                    padding   : rem(20px) rem(15px);
                }
            }

            .#{$this}__inner {
                display        : flex;
                align-items    : center;
                justify-content: space-between;

                .logo {
                    @media(min-width:1024px) {
                        min-width: rem(198px);
                        max-width: rem(198px);

                        img {
                            width: auto;
                            max-height: rem(58px);
                        }
                    }
                    @media (min-width:1024px) and (max-width: 1199px){
                        min-width: rem(140px);
                        max-width: rem(140px);
                    }
                    @media(max-width:1023px) {
                        min-width: rem(100px);
                        max-width: rem(180px);

                        img {
                            min-height: rem(54px);
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        img {
                            min-height: rem(40px);
                        }
                    }
                }

                .#{$this}-right {
                    @media(min-width:1024px) {
                        padding-left: rem(15px);
                    }
                    .clinical-trials{
                        margin-right: 40px;
                        cursor: pointer;
                        position: relative;
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                        .trials{
                            font-size: 12px;
                        }
                        @media(min-width:1024px){
                            display: none;
                        }
                    }
                    @media(max-width: 1023px) {
                        .main-navigation {
                            right     : 0;
                            left      : 0;
                            position  : fixed;
                            top       : 0;
                            width     : calc(100% + 30px);
                            transform : translateX(100%);
                            height: 100vh;
                            transition: all 0.5s ease;
                            &.show-menu {
                                transform: translateX(50%);
                            }
                            @include media-breakpoint-down(sm) {
                                top       : 0;
                                &.show-menu {
                                    transform: translateX(-15px);
                                }
                            }
                        }
                    }
                }

                .hamburger-btn {
                    position: relative;
                    cursor: pointer;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    .menu{
                        font-size: 12px;
                    }

                    @media (min-width:1024px ){
                        display: none;
                    }

                    img {
                        vertical-align: top;
                        width         : 100%;
                    }
                }
            }
        }

        &.mobile-menu-open {
            .header {
                &__inner {
                    @media(max-width:1023px) {
                        //background: #eeeeee;
                    }
                }
            }
        }
    }
}


//------------- IE-11  ----------------------
@include target-metro {
    [data-site-id="#{$site-id}"] {
        .header {}
    }
}