[data-site-id="#{$site-id}"] {
    .header {
        &__inner{
            font-family: $roboto;
            .image-extension{
                a{
                     @include media-breakpoint-up(lg) {
                        max-width: 250px;
                    }
                     @include media-breakpoint-down(lg) {
                        max-width: 93px;
                    }
                  
                }
            }

            .animate-icon{
                span{
                    &:first-child{
                        transform: rotate(-45deg);
                        top: 50%;
                    }

                    &:nth-child(2){
                        @extend .hidden;
                    }

                    &:last-child{
                        transform: rotate(45deg);
                        top: 50%;
                    }
                }
            }

            .navbar-collapse{
               
                @include media-breakpoint-down(lg) {
                    height: calc(100vh - 128px);
                    top: 129.5px;
                }
                @include media-breakpoint-down(sm) {
                    height: calc(100vh - 88px);
                    top: 89.5px;
                }
            }
        }
    }
}