@media screen {
    [data-site-id="#{$site-id}"] {
        .cookie-toolbar {
            &__box {
                left            : 0;
                bottom          : 0;
                border-radius   : 0;
                opacity         : 0;
                width           : 100%;
                z-index         : 1010;
                position        : fixed;
                color           : $white;
                margin          : 0 !important;
                transform       : translateY(100%);
                padding         : rem(31px) rem(5px);
                transition      : all 500ms ease-out;
                background-color: $color-limed-spruce;
                @include media-breakpoint-down(sm) {
                    padding     : rem(35px) rem(17px);
                }

                &.show {
                    opacity  : 1;
                    transform: translateY(0);
                }

                .headline-text {
                    flex        : 1;

                    @include media-breakpoint-down(md) {
                        margin-right: rem(0px);
                        margin-bottom: rem(20px);
                    }

                    .cmp-text {
                        a {
                            font-weight: 700;
                        }
                    }
                }
            }

            &__btn {
                .button-link {
                    margin-bottom: 0;
                    .btn {
                        font-weight   : 700;
                        padding-top   : rem(6px);
                        padding-bottom: rem(6px);
                        font-size     : rem(16px);
                        width         : 100%;
                        @include media-breakpoint-down(sm) {
                            min-width     : rem(120px);
                        }
                    }
                }
            }
        }
    }
}