@media screen {
    [data-site-id="#{$site-id}"] {
        .cookie-toolbar {
            &__box {
                position: relative;
                transform: inherit !important;
                opacity: 1;
            }
        }
    }
}