<sly data-sly-test="${wcmmode.edit}">
    <p class="component-title bg-white text-center py-2 d-flex justify-content-center align-items-center">
        <span>${component.title}</span>
    </p>
</sly>

<div class="box__inner
    ${properties.boxPadding ? properties.boxPadding : 'p-4'}
    ${properties.margin ? properties.margin : 'm-0'}"
     style="background-color: ${properties.backgroundColor @ context='styleToken'};"
>
    <sly data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
