@media screen {
    [data-site-id="#{$site-id}"] {
        .teaser-gellary {
            &__inner {
                .gellary-item {
                    position: relative;

                    @include media-breakpoint-down (sm) {
                        margin-bottom: rem(20px);
                    }

                    &__img {
                        img {
                            max-width: 100%;
                        }
                    }

                    &__overlay {
                        bottom  : 0;
                        left    : 0;
                        width   : 100%;
                        position: absolute;

                        .button-link {
                            float        : left;
                            width        : 100%;
                            text-align   : center;
                            padding-left : rem(30px);
                            padding-right: rem(30px);

                            @include media-breakpoint-down (lg) {
                                padding-bottom: 0px;
                                padding-left  : rem(20px);
                                padding-right : rem(20px);
                                margin-bottom : rem(20px);
                            }

                            @include media-breakpoint-down (sm) {
                                padding-left  : rem(15px);
                                padding-right : rem(15px);
                            }

                            .btn {
                                border          : 0;
                                width           : 100%;
                                display         : flex;
                                font-weight     : bold;
                                align-items     : center;
                                font-size       : rem(18px);
                                min-height      : rem(56px);
                                padding-left    : rem(20px);
                                justify-content : center;
                                padding-right   : rem(20px);
                                text-transform  : uppercase;
                                transition      : all 0.3s ease;
                                color           : $white-color;
                                background-color: $primary;

                                @include media-breakpoint-down (lg) {
                                    min-height    : rem(40px);
                                    min-height    : rem(40px);
                                    font-size     : rem(16px);
                                    padding-top   : rem(5px);
                                    padding-bottom: rem(5px);
                                    padding-left: rem(10px);
                                    padding-right: rem(10px);
                                }

                                @include media-breakpoint-down (sm) {
                                    min-height    : auto;
                                    font-size     : rem(16px);
                                    padding-top   : rem(8px);
                                    padding-bottom: rem(8px);
                                }

                                &:hover {
                                    transition      : all 0.3s ease;
                                    background-color: $secondary;
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(237, 139, 0, 0.05);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}