
  [data-site-id="#{$site-id}"] {
      .teaser-gallery{
          &__item{
              &:hover{
                  .button-link{
                    .arrow-container{
                        width: 24px !important;
                        @extend .bg-secondary;
                        @extend .border-secondary;
                    }
                  }
              }

              &.default{
                  .headline-text{
                      .cmp-text{
                          p{
                              line-height: 1.5;
                          }
                      }
                  }
              }

              &.hover-card{
                  .card{
                    position: relative;
                    @extend .bg-white;

                    .button-link{
                        width: 25px;
                        margin-left: auto;
                    }

                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        height: 4px;
                        width: 0;
                        @extend .bg-secondary;
                        transition: all .25s ease-in-out;
                    }
                
                    &:hover{
                        &::before{
                            width: 100%;
                        }
                    }
                  }
              }
          }
      }
  }