@media screen {
    [data-site-id="#{$site-id}"] {
        $this: search-filter-overlay !default;
        .#{$this}__wrapper{
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1025;
            position: fixed;
            padding-top: rem(70px);
            padding-bottom: rem(50px);
            transform: translateY(120%);
            background-color: #333F48;
            box-shadow: 0 0 20px 4px #272830;
            transition: all 0.5s ease;
            @include media-breakpoint-down(lg){
                bottom: 0;
                box-shadow: none;
                height: calc(100vh - 80px);
            }
            @include media-breakpoint-down(sm){
                padding: 35px 0;
            }

            &.show{
                transform: translateY(0);
                transition: all 0.5s ease;
                @include media-breakpoint-down(lg){
                    transform: translateY(30%);
                }
                @include media-breakpoint-down(sm){
                    transform: translateY(0);
                }
            }
        }

        .#{$this}__container{
            margin: 0 auto;
            max-width: rem(720px);
            padding-left: rem(25px);
            padding-right: rem(25px);
            .form-group, .form-checkbox{
                margin-top: 0;
                margin-bottom: rem(51px);
                @include media-breakpoint-down(sm){
                    margin-bottom: rem(15px);
                }
            }
            .form-group .form-control {
                border-bottom: 1px solid $white;
            }
            label, .left-info, .form-control, .left-info>span{
                color: $white;
            }
            .btn{
                //color: $white;
                font-size: rem(16px);
                padding-top: rem(11px);
                padding-bottom: rem(11px);
                border-width: rem(2px);
            }
            .consent-checkbox {
                color: $white;
                font-size: rem(16px);
            }
            .form-group--select{
                padding-top: 0;

                .search_selector .selectize-input input {
                    color: $white;
                }

                .angle-down{
                    svg{
                        fill: $white !important;
                    }
                }
            }

            .country-select .selectize-input input {
                color: $white;
            }
            
            .form-group{
                .angle-down{
                    background-color: transparent;
                }  
            } 
            .form-control.is-invalid ~ .right-text-action .tooltip-icon{
                background: $color-limed-spruce;
            }
        }

        .#{$this}__close{
            left: 0;
            right: 0;
            display: flex;
            top: rem(-43px);
            cursor: pointer;
            width: rem(85px);
            height: rem(85px);
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            position: absolute;
            align-items: center;
            justify-content: center;
            background-color: #333F48;
            box-shadow: 0 0 20px 4px #333F48;
            @include media-breakpoint-down(sm){
                box-shadow: none;
            }
            &:after{
                content: '';
                display: block;
                width: rem(24px);
                height: rem(24px);
                background-size: cover;
                background-image: url('#{$root-path}images/icons/close.png');
            }
        }
    }
}