@media screen {
    [data-site-id="#{$site-id}"] {
        .form-checkbox {
            .form-check {
                color        : $grey;
                padding-left : 0;
                margin-bottom: rem(24px);

                .consent-checkbox {
                    .cmp-text {
                        padding-top: rem(3px);

                        p {
                            margin: 0;
                        }
                    }

                    .invalid-feedback {
                        font-size: rem(14px);
                        margin   : 0;

                        .icon {
                            font-size  : rem(24px);
                            margin-left: rem(5px);
                            line-height: rem(32px);
                        }
                    }
                }

                a {
                    font-weight: 700;
                }
            }
        }
    }
}