@media screen {
    [data-site-id="#{$site-id}"] {
        .registration {
            &__inner {
                max-width: rem(570px);
                margin: auto;
                
                .btn-brandx {
                    &.btn-block {
                        font-weight: 600;
                        min-height : rem(60px);
                    }
                }
            }
        }
    }
}