[data-site-id="#{$site-id}"] {
    .main-navigation {
        .dropdown {
            &-hover {
                &:hover {
                    &>.dropdown-menu {
                        display: block;
                    }
                }

                &>.dropdown-toggle {
                    &:active {
                        @extend .pointer-events-none
                    }
                }
            }

            &-menu{
                @include media-breakpoint-up(lg){
                    box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.35);
                }
            }
        }

        &__inner {
            &>ul {
                &>li {
                    &::before {
                        content: '';
                        @extend .h-1;
                        @extend .w-0;
                        @extend .bg-secondary ;
                        @extend .absolute;
                        @extend .bottom-0;
                        transition: all .3s ease;
                       
                        @include media-breakpoint-down(lg){
                            content: none;
                        }
                    }
                    &:hover {
                        &::before {
                            @extend .w-full;
                        }
                    }

                    &::after{
                        content: '';
                        @extend .absolute;
                        @extend .-bottom-3;
                        @extend .left-0;
                        @extend .h-4;
                        @extend .w-full;

                        @include media-breakpoint-down(lg){
                            content: none;
                        }
                    }

                    .nav-link{
                        padding: 0 !important;
                    }
                }
            }

             @include media-breakpoint-down(lg){
                position: relative;
            }

             @include media-breakpoint-down(lg){
                .mob-topnav-menu{
                    transition: all ease-out .35s;
                }
                .navbar-nav{
                    transition: all ease-out .35s;

                    .dropdown-menu{
                        position: absolute;
                        width: 100%;
                        left: 100%;
                        top: 0;
                        transition: all ease-out .35s;
                        z-index: 1;

                        @include media-breakpoint-down(md) {
                            height: calc(100vh - 128px);
                        }
                        @include media-breakpoint-down(sm) {
                            height: calc(100vh - 88px);
                        }

                        &>span{
                            top: 16px;
                        }
                    }
                }
                .slide-menu{
                    transform: translateX(-100%);

                    .active>.dropdown-menu{
                        display: block;
                        left: 100%;
                    }
                }
            }
        }
    }
}