@media screen {
  [data-site-id="#{$site-id}"] {
    .cmp-separator__horizontal-rule {
      margin-top   : rem(37px);
      margin-bottom: rem(37px);

      &.size-1 {
        border-top-width: rem(1px);
      }

      &.size-2 {
        border-top-width: rem(2px);
      }

      &.size-3 {
        border-top-width: rem(3px);
      }

      &.size-4 {
        border-top-width: rem(4px);
      }

      &.size-5 {
        border-top-width: rem(5px);
      }

      &.marginY-0{
        margin-top: rem(0px);
        margin-bottom: rem(0px);
      }
      &.marginY-1{
        margin-top: rem(4px);
        margin-bottom: rem(4px);
      }
      &.marginY-2{
        margin-top: rem(8px);
        margin-bottom: rem(8px);
        @include media-breakpoint-down(sm){
          margin-top: rem(5px);
          margin-bottom: rem(5px);
        }
      }
      &.marginY-3{
        margin-top: rem(16px);
        margin-bottom: rem(16px);
        @include media-breakpoint-down(sm){
          margin-top: rem(8px);
          margin-bottom: rem(8px);
        }
      }
      &.marginY-4{
        margin-top: rem(24px);
        margin-bottom: rem(24px);
        @include media-breakpoint-down(sm){
          margin-top: rem(10px);
          margin-bottom: rem(10px);
        }
      }
      &.marginY-5{
        margin-top: rem(48px);
        margin-bottom: rem(48px);
        @include media-breakpoint-down(sm){
          margin-top: rem(15px);
          margin-bottom: rem(15px);
        }
      }

      &.border-transparent {
        border-color: transparent !important;
      }
      &.tab-margin-none{
        @include media-breakpoint-only(md){
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}