<sly data-sly-test="${wcmmode.edit}">
    <p class="component-title bg-white text-center py-2 d-flex justify-content-center align-items-center">
        <span>${component.title}</span>
    </p>
</sly>

<div
        class="hero-header__content"
        style="min-height: ${properties.minHeight  @ context='styleToken'}px;
        background-image: url('${properties.hreoImagePath @ context='uri'}');"
>
    <sly data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>