@media screen {
  [data-site-id="#{$site-id}"] {
    .headline-text {
      &>div:not(.mb-0) {
        margin-bottom: $cmp-bottom-gap;
      }
      .cmp-text {
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
        a{
          &:hover{
            color: $secondary;
          }
        }
         blockquote::before,
         blockquote::after{
            content: '"';
            display: inline-block;
            color: $primary; 
        }
    
         blockquote::before{
          padding-right: 2px;
        }
         blockquote::after{
          padding-left: 2px;
        }
      }
    }
  }
}