// Colors variables and name specifications
// @see http://chir.ag/projects/name-that-color/

// ----------------- BrandX color pleate ------------
// Primary Colors
$primary         : #00BFB2; // cyan
// $primary-light: #739FCA; //light
// $primary2   : #DADADA;
// $primary3   : #000000;
// Secondary Colors
$secondary       : #ED8B00;
// $secondary1 : #C2B39C;
// $secondary1 : #DEB4A9;
// $secondary1 : #A1B266;
// $secondary1 : #A5C9CA;
// Tertiary Colors
$grey            : #6E715F;
$porsche         : #EFB864; // Orenge
$patina          : #649181; // green
$calico          : #DEBE8D;

//----------- CTP Color --------
$color-aqua-deep : #004C45;
$color-alto      : #D4D4D4;
$gray-nickel     : #C1C1C0; //gray-300
$color-error     : #d0021b;
$color-shark     : #272830;
$color-mirage    : #1A1F2F;
$color-cape-code : #2F3332;
$color-athens-gray: #F2F5F8;
$color-limed-spruce: #333F48;
$color-ghost: #BFC3D1;
$white: #fff;

//---------- other color -------
// $color-silver     : #C4C4C4;
// $color-gallery    : #EDEDED;
// $dove-gray        : #666666;
// $dove-gray-lite   : #707070;
// $color-athens-gray: #f3f3f3;
// $color-french-gray: #C3C3C8;
// $gray-nickel      : #C1C1C0; //gray-300
// $color-dark-gray  : #818181;
// $color-porcelain  : #EAEFF0;
// $color-alto       : #D4D4D4;
// $color-mantis     : #63B853;
// $color-pale-sky   : #6c757d;

// $color-alert-error     : #721C24;
// $color-tundora         : #464646;
// $color-wild-sand       : #F6F6F6;
// $color-dropdown-angle  : #e7e3e2;
// $color-gallery2        : #eeeeee;
// $blue-chill            : #0E76A8;
// $color-chambray        : #3B5998;
// $color-picton-blue     : #55acee;
// $color-silver          : #bbbbbb;
// $color-error           : #d0021b;
// $color-crown-of-thorns : #77232B;
// $color-porcelain       :#E5E9EA;
// $color-azalea          : #F5C6CB;
// $color-we-peep         : #F9E8E8;
// $color-cherub          : #F8D7DA;
// $color-abbey           : #545556;
// $color-link-water      : #E5EEF7;
// $color-accordion-bg    : #F3F3F4;


// // shadow 
// $card-shadow        : 0 2px 50px 0 rgba(20, 77, 67, 0.07);
// $solid-line-bg      : transparent linear-gradient(270deg, #E0E0E0 0%, #BFBFBF 9%, #C2C2C2 71%, #E5E5E5 86%, #C4C4C4 100%) 0% 0% no-repeat padding-box;
// $brandx-bg          : radial-gradient(circle, #FFFFFF 0%, #FFFFFF 23.2%, #C1C1C0 100%);
// $header-top-bg      : transparent linear-gradient(90deg, #005dac 0%, #0094dd 13%, #005dac 32%, #005dac 75%, #0087d1 100%) 0% 0% no-repeat padding-box;
// $chart-label-bg     : transparent linear-gradient(180deg, #E5E9EA 0%, #F3F3F4 20%, #FFFFFF 49%, #F3F3F4 81%, #E5E9EA 100%) 0% 0% no-repeat padding-box;
// $brandx-headerbar   : transparent linear-gradient(180deg, #005DAC 0%, #005DACCC 100%) 0% 0% no-repeat padding-box;
// $patient-box-shadow : 0px 0px 25px rgba(0, 0, 0, 0.15);
// $from-box-graident  : linear-gradient(98.23deg, #C1C1C0 0%, #FFFFFF 26.68%, #F3F3F4 36.66%, #C1C1C0 47.04%, #F3F3F4 65.9%, #C1C1C0 100%, #C1C1C0 100%);
// $tooltip-bg         : linear-gradient(98.23deg, #C1C1C0 0%, #FFFFFF 26.68%, #F3F3F4 36.66%, #C1C1C0 47.04%, #F3F3F4 65.9%, #C1C1C0 100%, #C1C1C0 100%);
// $table-caption-bg   : linear-gradient(180deg, #005DAC 0%, rgba(0,93,172,0.8) 100%);