@media screen {
    [data-site-id="#{$site-id}"] {
        .selection-modal {
            .modal {
                background-color: rgba(51,63,72,0.8);
                opacity: 1;
                //display: block !important;
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }
                
                .modal-dialog {
                    max-width: rem(1170px);
                    width: 90%;
                    padding-bottom: 10px;
                    @include media-breakpoint-down (md) {
                        align-items: flex-start;
                    }
                }
                .modal-content {
                    background-color: transparent;
                    border: 0;
                    max-width: rem(773px);
                    margin: auto;
                    box-shadow: 0 0 30px 2px rgba(0,0,0,0.5);
                    @include media-breakpoint-down (md) {
                        margin: 14px auto;
                    }
                }
                .modal-header {
                    position: relative;
                    padding: rem(59px) rem(100px) 0;
                    border-bottom: 0;
                    background-color: $white;
                    @include media-breakpoint-down (md) {
                        padding: rem(34px) rem(47px) 0 rem(25px);
                    }
                }
                .modal-header-title {
                    font-size: rem(40px);
                    line-height: rem(55px);
                    color: #2F3332;
                    @include media-breakpoint-down (md) {
                        font-size: rem(22px);
                        line-height: rem(30px);
                    }
                }
                .modal-header-close {
                    outline: 0;
                    margin: 0;
                    padding: 0;
                    background: transparent;
                    border: transparent;
                    position: absolute;
                    top: rem(30px);
                    right: rem(31px);
                    @include media-breakpoint-down (md) {
                        top: rem(18px);
                        right: rem(19px);
                    }
                    img {
                        width: rem(29px);
                        @include media-breakpoint-down (md) {
                            width: rem(16px);
                        }
                    }
                }
                .modal-body {
                    font-size: rem(16px);
                    line-height: rem(22px);
                    background-color: $white;
                    padding: rem(16px) rem(100px) rem(32px);
                    @include media-breakpoint-down (md) {
                        padding: 11px rem(19px) rem(24px) rem(25px);
                    }
                    .modal-body-content {                        
                        @include media-breakpoint-down (md) {
                            max-height: rem(233px);
                            overflow: auto;
                            padding-right: rem(28px);
                        }
                    }
                }
                .modal-footer {
                    justify-content: flex-start;
                    padding: rem(33px) rem(100px) rem(44px);
                    background-color: $color-limed-spruce;
                    @include media-breakpoint-down (md) {
                        padding: rem(23px) rem(24px) rem(30px);
                        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                    }
                    .modal-footer-title {
                        margin: 0;
                        color: $white;
                        font-weight: normal;
                        font-size: rem(30px);
                        line-height: rem(41px);
                        @include media-breakpoint-down (md) {
                            font-size: rem(20px);
                            line-height: rem(27px);
                        }
                    }
                    form{
                        width: 100%;
                    }
                    .form-group{
                        margin-bottom: 0;
                        @include media-breakpoint-down (lg) {
                            margin-bottom: rem(30px);
                        }
                        .form-control{
                            color: $white;
                            border-bottom: 1px solid $white;
                        }
                        .left-info{
                            color: $white;
                        }
                        input ~ .angle-down{
                            background-color: transparent;
                            svg{
                                fill: $white;
                            }
                        }
                        .angle-down{
                            background-color: transparent;
                            svg{
                                fill: $white;
                            }
                        }
                        .selectize-input input{
                            color: $white;
                        }
                        .selectize-dropdown{
                            border-bottom: 0;
                        }
                    }
                    .select-modal__search-btn{
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        .button-link{
                            width: 100%;
                            margin-bottom: 0;
                            .btn{
                                font-size: rem(16px);
                                padding-top: rem(6px);
                                padding-bottom: rem(6px);
                                @include media-breakpoint-down (lg) {
                                    padding: rem(3px) rem(12px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}