@media screen {
    [data-site-id="#{$site-id}"] {
        .carousel-hcp {
            $this:  carousel-hcp !default;

            .#{$this}__inner {
                overflow: visible;
                @include media-breakpoint-down(sm){
                    padding-bottom: rem(60px);
                }
                .carousel-inner {
                    overflow: visible;
                    .carousel-item {
                        // css for overwrite any component inside carousel content
                        @include media-breakpoint-up(lg){
                            .inline-video--player {
                                //min-height: 524px;
                                .embed-responsive {
                                    height: 100%;
                                }
                            }
                        }                        
                        .inline-video-text {
                            display: flex;
                            align-items: center;
                            .carousel-text {
                                @include scrollbars(.5em, slategray);
                                max-height: calc(100% - 80px);
                                overflow: auto;
                                .headline-text {                            
                                    font-size: 18px;
                                    font-weight: 600;
                                    letter-spacing: 0.3px;
                                    line-height: 24px;
                                    font-weight: normal;                            
                                    @include media-breakpoint-down(md) {
                                        max-width: 79%;
                                    }
                                    @include media-breakpoint-down(sm) {
                                        max-width: 100%;
                                    }
                                }
                                @include media-breakpoint-down(lg) {
                                    top: 9%;
                                }
                            }

                            .first-carousel-text{
                                display: none;
                                color: $white;
                                z-index: 1028;
                                left: rem(30px);
                                font-weight: 400;
                                bottom: rem(25px);
                                margin-left: auto;
                                margin-right: auto;
                                position: absolute;
                                font-size: rem(18px);
                                letter-spacing: .3px;
                                line-height: rem(24px);
                                @include media-breakpoint-down(md){
                                    display: none !important;
                                }
                            }
                        }

                        &.carousel-first{
                            .first-carousel-text{
                                display: block;
                            }
                        }
                    }
                }  
                
                .carousel-controls {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: row-reverse;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
    
                    .carousel-control-next, 
                    .carousel-control-prev {
                        width: rem(70px);
                        height: rem(70px);
                        bottom: 0;
                        top: auto;
                        opacity: 1;
                        background-color: $primary;      
                        transition: all .3s ease;
                        position: static;
                        &:hover {
                            transition: all .3s ease;
                            background-color: #ed8b00;
                        }
                    }
    
                    .carousel-control-prev {
                        right: rem(71px);
                        left: auto;
                        order: 1;
                        .hover-img {
                            display: none;
                        }
                        &:hover {
                            .hover-img {
                                display: block;
                            } 
                            .main-img {
                                display: none;
                            }
                        }
                        .carousel-control-prev-icon {
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJmaWxsOiAjZmZmZmZmOyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgMTFIOWwzLjI5My0zLjI5My0xLjQxNC0xLjQxNC00LjI5MyA0LjI5M2EyIDIgMCAwMDAgMi44MjhsNC4yOTMgNC4yOTMgMS40MTQtMS40MTRMOSAxM2gxMHoiIGRhdGEtbmFtZT0iMDEgYWxpZ24gY2VudGVyIi8+PC9zdmc+");
                            width: rem(33px);
                            height: rem(33px);                            
                        }
                    }
        
                    .carousel-control-next {
                        .carousel-control-next-icon {
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJmaWxsOiAjZmZmZmZmOyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTcuNDE0IDEwLjU4NmwtNC4yOTMtNC4yOTMtMS40MTQgMS40MTRMMTUgMTFINXYyaDEwbC0zLjI5MyAzLjI5MyAxLjQxNCAxLjQxNCA0LjI5My00LjI5M2EyIDIgMCAwMDAtMi44Mjh6IiBkYXRhLW5hbWU9IjAxIGFsaWduIGNlbnRlciIvPjwvc3ZnPg==");
                            width: rem(33px);
                            height: rem(33px);
                        }        
                    }
                }
    
    
                .carousel-indicators {
                    bottom: rem(-89px);
    
                    @include media-breakpoint-down (md) {
                        bottom: rem(-66px);
                    }
                    @include media-breakpoint-down (sm) {
                        bottom: rem(-63px);
                    }
    
                    li {
                        width: rem(15px);
                        height: rem(15px);
                        margin-right: rem(7px);
                        margin-left: rem(6px);
                        border-radius: 50%;
                        background-color: #BFC3D1;
                        opacity: 1;
                        transition: opacity 1s ease;
                    }
    
                    .active {
                        background-color: $primary;
                    }
                }



            }

            
            
        }
    }
}
.carousel-inner .carousel-middle.active~.carousel-controls .carousel-control-prev, 
.carousel-inner .carousel-middle.active~.carousel-controls .carousel-control-prev:hover {background-color:transparent}

.carousel-inner .carousel-last.active~.carousel-controls .carousel-control-prev:hover .hover-img {display: none;}
.carousel-inner .carousel-last.active~.carousel-controls .carousel-control-prev:hover .main-img {display: block;}