$site-id: "glpg-ctp-112";
$cmp-bottom-gap: 30px;
$footer-font-size: 14px;
$footer-small-font-size: 12px;
$topbar-nav-font-size: 12px;

// colors:
$silver-color: #e0d9cd;
$white-color: #ffffff;
$app-color-blue: #005dac;
$danger-color: #ff0000;
$warning-color: #ffc107;
$success-color: #28a745;
$footer-font-color: #55575c;
