@media screen {
    [data-site-id="#{$site-id}"] {
        .hero-header {
            position: relative;
            @media (min-width: 1024px){
                margin-top: 20px;
            }

            &__content {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 67% top;

                // @include media-breakpoint-up(lg){
                //     background-position: 63% top;
                // }
                // @include media-breakpoint-up(xxl){
                //     background-position: 24% top;
                }

                .box {
                    margin-bottom: 0;

                    .box__inner {
                        background-color: $color-aqua-deep;
                        &.box-default {
                            &:before {
                                background-color: $color-aqua-deep;
                            }
                        }

                        .headline-text {
                            // @include media-breakpoint-down(sm) {
                            //     line-height: rem(27px);
                            // }

                            h1 {
                                font-weight: 700;

                                @media (min-width: 1024px){
                                    font-size: rem(56px);
                                    line-height: rem(68px);
                                }

                                // @include media-breakpoint-only(md) {
                                //     font-size: rem(39px);
                                //     line-height: rem(50px);
                                // }

                                // @include media-breakpoint-down(sm) {
                                //     font-size: rem(39px);
                                //     line-height: rem(47px);
                                //     padding-left: rem(20px);
                                //     // text-align: center;
                                // }
                            }

                            .verveine-text {
                                font-weight: 500;
                            }

                            .left-space {
                                .underline-text {
                                    margin-left: rem(5px);
                                    margin-right: rem(5px);
                                }

                                @media (min-width: 768px) and (max-width:1023px){
                                    padding-left: 0;

                                    .underline-text {
                                        margin-bottom: rem(8px);
                                    }
                                }

                                // @include media-breakpoint-down(sm) {
                                //     padding-left: rem(40px);
                                //     // padding-left: 0;
                                // }
                            }
                        }

                        .medical-condition-dropdown {
                            .dropdown-toggle {
                                white-space: normal;

                                &:after {
                                    top: 50% !important;
                                    margin-top: rem(-4.5px);
                                }

                                // @include media-breakpoint-only(md) {
                                //     font-size: rem(14px);
                                // }
                            }
                        }
                    }
                }

                &:not(.hero-header__content-bottom):not(.hero-header__content-left) {

                    @media (min-width: 1024px){
                        width: 72vw;
                    }

                    @media (min-width: 1600px) {
                        width: 68vw;
                    }

                    @media (min-width: 768px) and (max-width:1023px){
                        margin-top: rem(220px);
                        min-height: inherit !important;
                        .mobile-bg{
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center top;
                            min-height: rem(560px) !important;
                        }
                    }

                    // @include media-breakpoint-down(sm) {
                    //     min-height: auto !important;
                    // }

                    // @include media-breakpoint-down(sm) {
                    //     min-height: auto !important;
                    // }

                    .box__inner {
                        @media (min-width: 1024px){
                            position: absolute;
                            top: 50%;
                            right: 8%;
                            height: auto;
                            z-index: 1009;
                            //min-height: rem(560px);
                            transform: translateY(-50%);
                            max-width: rem(747px);
                            padding: rem(60px) rem(70px);
                        }

                        @media (min-width: 1600px) {
                            right: -16%;
                        }

                        @media (min-width: 768px) and (max-width:1023px){
                            margin: 0 auto;
                            width: calc(100% - 140px);
                            padding: rem(35px) rem(70px) rem(35px) rem(70px);
                        }

                        // @include media-breakpoint-down(sm) {
                        //     padding: rem(45px) rem(15px) rem(38px) rem(15px);
                        // }

                        .verveine-text {
                            @media (min-width: 768px){
                                font-size: rem(90px);
                            }

                            // @include media-breakpoint-down(md) {
                            //     font-size: rem(60px);
                            // }
                        }
                    }
                }

                &:not(.hero-header__content-left) {
                    .box {
                        @media (min-width: 768px) and (max-width:1023px){
                            top: rem(-200px);
                            position: absolute;
                        }
                        &__inner {
                            .headline-text {
                                p {
                                    font-size: rem(18px);
                                    margin-bottom: rem(30px);
                                    letter-spacing: rem(0.3px);
                                    line-height: rem(24px);
                                }
                            }
                        }
                    }
                }

                // VS-2
                &-bottom {
                    position: relative;
                    width: 100%;
                    // @include media-breakpoint-down(lg) {
                    //     background-image: none!important;
                    // }
                    // @include media-breakpoint-between(md,lg) {
                    //     min-height: 530px!important;
                    // }
                    

                    // @include media-breakpoint-up(md) {
                    //     margin-bottom: rem(200px);
                    // }

                    // @include media-breakpoint-down(sm) {
                    //     min-height: auto !important;
                    //     background-image: none !important;
                    // }

                    .mobile-bg {
                        height: rem(151px);
                        background-size: cover;
                        background-repeat: no-repeat;
                        
                        // @include media-breakpoint-up(md) {
                        //     display: none;
                        // }
                    }
                    .tab-bg {
                        background-size: cover;
                        background-repeat: no-repeat;
                        // @include media-breakpoint-between(md, lg){
                        //     min-height: 530px!important;
                        // }
                        // @include media-breakpoint-up(xl) {
                        //     display: none;
                        // }
                        // @include media-breakpoint-down(sm) {
                        //     display: none;
                        // }
                    }

                    .box {
                        // @include media-breakpoint-up(md) {
                        //     position: absolute;
                        //     left: 0;
                        //     right: 0;
                        //     height: 100%;
                        //     width: 100%;
                        //     z-index: 1000;
                        //     top: auto!important;
                        // }
                        // @include media-breakpoint-between(md, lg) {
                        //     bottom: 0;
                        // }
                    }

                    .box__inner {
                        height: auto;
                        text-align: center;

                        // @include media-breakpoint-up(md) {
                        //     position: absolute;
                        //     bottom: 140px;
                        //     left: 0;
                        //     right: 0;
                        //     width: 90%;
                        //     max-width: 970px;
                        //     margin: 0 auto !important;
                        //     transform: translateY(100%);
                        //     padding: rem(43px) rem(100px);
                        // }
                        // @include media-breakpoint-only(md) {
                        //     bottom: 215px;
                        //     padding: rem(43px) rem(75px);
                        // }

                        // @include media-breakpoint-down(sm) {
                        //     padding: rem(43px) rem(15px) rem(43px) rem(15px);

                        //     .headline-text {
                        //         h1 {
                        //             max-width: rem(350px);
                        //             margin-left: auto;
                        //             margin-right: auto;
                        //             padding-left: 0;
                        //             margin-bottom: rem(15px);
                        //         }
                        //     }
                        // }

                        .headline-text{                           
                             p {
                                font-size: rem(18px);
                                margin-bottom: rem(10px);

                                // @include media-breakpoint-down(sm) {
                                //     text-align: left;
                                // }
                            }

                        }

                    }

                    .headline-text {

                        .verveine-text {
                            font-size: rem(56px);
                        }

                        .underline-text {
                            // @include media-breakpoint-up(lg) {
                            //     padding-bottom: rem(10px);
                            // }

                            &:after {
                                // @include media-breakpoint-up(md) {
                                //     max-width: 371px;
                                // }

                                margin: 0 auto;
                                left: 0;
                                right: 0;

                                // @include media-breakpoint-down(sm) {
                                //     max-width: rem(176px);
                                // }
                            }
                        }
                    }

                }

                // header image VS-3

                &-left {

                    // @include media-breakpoint-up(lg) {
                    //     width: calc(50% - 85px);
                    //     float: right;
                    //     background-position: top right;
                    // }

                    &::after {
                        clear: both;
                        content: '';
                        display: block;
                        width: 100%;
                    }

                    .mobile-bg {
                        // @include media-breakpoint-up(lg) {
                        //     display: none;
                        // }

                        // @include media-breakpoint-down(md) {
                        //     background-size: cover;
                        // }
                    }

                    // bg box
                    .box {
                            position: absolute;
                            background: $color-aqua-deep;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 1;
                            width: calc(50% + 285px);
                            padding-right: rem(180px);

                            &__inner {
                                float: right;
                                padding: rem(60px) rem(20px) rem(100px) rem(15px);
                                max-width: rem(700px);

                                .underline-text {
                                    padding-bottom: rem(15px);
                                }

                                .headline-text {
                                    h1 {
                                        margin-bottom: rem(30px);
                                    }

                                    p {
                                        font-size: rem(18px);
                                        line-height: rem(24px);
                                        font-weight: 600;
                                    }
                                }
                            
                        }

                    }

                }
            }
        }
    }
