<sly data-sly-use.formattedLink="${'com.glpg.clinicaltrials.core.components.use.LinkFormatterUse' @ link=properties.buttonLink }"/>
<!--/*<div class="button-link section">*/-->
<sly data-sly-test="${wcmmode.edit}">
    <p class="component-title bg-white text-center py-2 d-flex justify-content-center align-items-center">
        <span>${component.title}</span>
    </p>
</sly>

<a
        class="btn ${properties.buttonStyle} ${properties.textColor} ${properties.buttonWidth}"
        data-type="${properties.buttonType}"
        href="${ formattedLink.url ? formattedLink.url : 'javascript:void(0)'}"
        target="${properties.targetType}"
        title="${properties.buttonTitle}"
        role="button"
>
    ${properties.buttonText}
</a>

