@media screen {
    [data-site-id="#{$site-id}"] {
        .tooltip {
            max-width: 100%;    
            z-index: 10000;
            pointer-events: none;
            //left: 10% !important;
            //right: 20% !important;
            &.show {
                opacity: 1;
            }

            // .arrow {
            //     display: none;
            // }

            .arrow {
                //left: 20% !important;
                //top: 1px;
            }

            &.bs-tooltip-bottom {
                .arrow {
                    &:before {
                        border-bottom-color: #fff;
                    }
                }
            }

            &.bs-tooltip-top {
                .arrow {
                    &:before {
                        border-top-color: #fff;
                    }
                }
            }

            &-icon{
                display: inline-block;
                line-height: rem(24px);
                
                svg {
                    width           : 24px;
                    height          : 24px;
                    padding         : 5px;
                    border-radius   : 50%;
                    background-color: #9497a2;

                    &:hover {
                        background-color: $primary;
                    }
                }
            }

            .tooltip-inner {
                text-align      : left;
                font-weight     : 600;
                min-width       : 200px;
                background      : $white;
                //background      : #f3f5f8;
                max-width       : 300px;
                border-radius   : rem(4px);
                font-size       : rem(14px);
                color           : $color-cape-code;
                padding         : rem(13px) rem(15px);
                //border          : 1px solid #C1C1C0;
                box-shadow      : 0 0 4px 0 rgba(25, 24, 24, 0.5);

                @include media-breakpoint-up(md) {
                    max-width: rem(750px);
                }

                @include media-breakpoint-down(md) {
                    max-width: rem(320px);
                }

                >* {
                    position: relative;
                    z-index : 2;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        // .tooltip.show {
        //     left: 13.4% !important;
        // }
        // .tooltip .arrow {
        //     left: 11% !important;
        // }
    }
}