@media screen {
    [data-site-id="#{$site-id}"] {
        // AEM decoration tag
        .box{
            margin-bottom: rem(30px);
            &__inner {
                height: 100%;
                position: relative;

                &:before{
                    top: 0;
                    left: 0;
                    //z-index: -1;
                    width: 100%;
                    height: 100%;
                    content: '';
                    display: block;
                    position: absolute;
                }

                &>div{
                    z-index: 1;
                    position: relative;
                }

                &.box-primary{
                    &:before{
                        background-color: $primary;
                    }
                }
                &.box-secondary{
                    &:before{
                        background-color: $secondary;
                    }
                }
                &.box-danger{
                    &:before{
                        background-color: red;
                    }
                }
                &.box-success{
                    &:before{
                        background-color: green;
                    }
                }
                &.box-info{
                    &:before{
                        background-color: orange;
                    }
                }
                &.box-white{
                    &:before{
                        background-color: white;
                    }
                }
                &.box-dark{
                    &:before{
                        background-color: black;
                    }
                }
                &.box-light{
                    &:before{
                        background-color: #F3F5F8;
                    }
                }
            }

            //full width height
            &.full-box{
                width: 100%;
                height: 100%;
                transition: all 0.5s ease;
            }
        }
    }
}